{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="banner-text">
                    <h2> ToDo </h2>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="POST" class="p-3 shadow">
                {% csrf_token %}
                <div class="form-group">
                     <input type="text" class="form.control" name="taskname" placeholder="Enter Task Name "><br>
                </div>
                <div class="form-group">
                    <input type="text" name="priority" placeholder="Enter Priority">
                </div>
                <div class="form-group">
                    <input type="text" name="date" placeholder="Enter Date">
                </div>

                <input type="submit" class="btn btn-success">
                </form>



<br>


        </div>
        <div class="col-md-6">
            <h4 style="text-align:center;"><u>Tasks to be completed</u></h4><br>
            {% for i in task1 %}
            <div class="shadow card" style="width: 18rem;">


                <div class="card-body">
                 <h5 class="card-title">{{i.name}}</h5>
                 <p class="card-text">{{i.priority}}</p>
                 <p class="card-text">{{i.date}}</p>
                <a href="{% url 'delete' i.id %}" class="btn btn-primary">DONE</a>
                    <a href="{% url 'update' i.id %}" class="btn btn-primary">UPDATE</a>
                </div>
                <br>

            </div>
            <br>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}